@import 'tailwindcss';

@theme {
  --color-white: white;
  --color-black: black;
  --color-orange: #F05E1D;
  --color-dark-orange: #D84E1A;
  --color-light-orange: #F05E1D/10;
  
  --color-light: var(--color-white);
  --color-dark: var(--color-black);
}

@layer {
  .dark {
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
  }
  .light {
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);
  }
}